*{
  margin: 0;
  padding: 0;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

header {
  padding: 20px 35px;
}

header h1 {
  font-family: "zapfino";
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: #30475e;
}