*{
  margin: 0;
  padding: 0;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

/* NAV BAR */
header {
  padding: 20px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family: "zapfino";
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
}

header nav {
  float: right;
  margin: 7px 0;
  font-weight: bolder;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 45px;
}

header nav ul li a {
  padding: 10px 45px;
  font-weight: lighter;
  font-size: 30px;
  color: #30475e;
}

/* End of NAV BAR */

/* Typing Animation in ABOUT */

.line {
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  max-width: 301px;
}

.typing-animation {
  animation: blinkCursor 650ms steps(45) infinite normal,
    typing 4s steps(45) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* End of Typing Animation in ABOUT */